vcenter_url=https://192.168.153.129/sdk
vcenter_uid=admin_username
vcenter_pwd=admin_password
upload=true
host=ec2-54-234-14-163.compute-1.amazonaws.com
perf_items=cpu.ready.summation,cpu.usagemhz.average,disk.busResets.summation,disk.commandsAborted.summation,disk.totalLatency.average,disk.queueLatency.average,disk.read.average,disk.write.average,mem.usage.average,mem.active.average,mem.consumed.average,mem.overhead.average,mem.swapin.average,mem.swapout.average,mem.swapped.average,mem.vmmemctl.average(balloon),net.received.average,net.transmitted.average,net.usage.average
name=myDC
